* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(42, 87%, 93%);
}

/* NAVIGATION BAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: hsl(152, 63%, 15%);
  width: 100%;
  box-shadow: inset 0 0 0 4px hsl(152, 63%, 15%),
              inset 0 0 0 7px hsl(38, 96%, 69%);
}

.navbar-title li {
  list-style: none;
  padding: .4rem 0 .4rem 0;
}

.navbar-title li a {
  text-decoration: none;
  font-family: 'Berkshire Swash', cursive;
  font-size: 4rem;
  font-weight:600;
  letter-spacing: 2px;
  color: hsl(38, 96%, 69%);
  padding-left: 2rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
text-decoration: none;
font-family: 'Acme', sans-serif;
font-size: 1.6rem;
letter-spacing: 1px;
display: block;
color: hsl(42, 87%, 93%);
padding: 2rem;
}

.navbar-links li a:hover {
  color: hsl(38, 96%, 69%);
}

/* HERO */

.hero {
  width: 100%;
  border-bottom: 2px solid hsl(152, 63%, 15%);
  border-top: none;

}

@media (max-width:550px) {
  .heroContainer {
    width: 100%;
    margin: 60px auto 0;
  }
}

/* MENU */

.menuContainer {
  padding-top: 100px;
}

.menuHeader {
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  color: hsl(19, 87%, 24%);
  margin-bottom: 0;
}

@media (max-width: 550px) {
  .menuHeader {
    font-size: 1.5rem;}
}

.pasta, .beverages {
  text-align: center;
  font-family: 'Yesteryear', cursive;
  font-size: 5rem;
  color: hsl(152, 63%, 15%);
}

@media (max-width: 550px) {
  .pasta, .beverages {
    font-size: 2rem;
  }
}

.pasta {
  margin-top: 50px;
}

@media (max-width: 550px) {
  .pasta {
    margin-top: 26px;
  }
}

.choosePastaSection, .chooseMixInsSection, .chooseSauceSection {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  margin-top: 9px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 150px;
}

@media (max-width: 550px) {
  .choosePastaSection, .chooseMixInsSection, .chooseSauceSection {
    margin-bottom: 50px;
    grid-row-gap: 1rem;
  }
}

.menuBeverages {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 150px;
}

.chooseMixInsSection, .chooseSauceSection, .choosePastaSection {
  padding: 1.5rem;
  background-color: hsl(42, 87%, 97%);
  box-shadow: 0 0 0 2px hsl(152, 63%, 15%),
              0 0 0 5px hsl(38, 96%, 69%),
              0 0 0 9px hsl(152, 63%, 15%);
  border-radius: 7px;
}

@media (max-width: 550px) {
  .chooseMixInsSection, .chooseSauceSection, .choosePastaSection {
    padding: 1rem;
  }
}

.choosePasta, .chooseMixIns, .chooseSauce {
  font-family: 'Yesteryear', cursive;
  font-size: 2.4rem;
  color: hsl(152, 73%, 25%);
  color: hsl(152, 63%, 15%);
  grid-column: span 3;
}

 @media (max-width: 550px) {
   .choosePasta, .chooseMixIns, .chooseSauce {
    grid-column: span 2;
    font-size: 1.5rem;
    margin: 0 auto;
    }
 }


.farfalle {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
  object-fit: cover;
  border-radius: 50%;
}

.ingredientsPics, .beveragesPics {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, .25);
}

@media (max-width: 550px) {
  .ingredientsPics {
    width: 100px;
    height: 100px;
    box-shadow: none;
  }
}

.ingredientsText {
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 1.25rem;
}

@media (max-width: 550px) {
  .ingredientsText {
    font-size: 0.8rem;
  }
}

.menuBeverages ul {
  padding: 0;
}

.menuBeverages li {
  list-style: none;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 1.25rem;
  word-spacing: 3px;
  line-height: 2;
  color: hsl(152, 63%, 15%);
}

@media (max-width: 550px) {
  .menuBeverages li {
    font-size: 0.8rem;
  }
}

.menuBeverages li:first-child {
  font-family: 'Yesteryear', cursive;
  font-size: 2.4rem;
  text-align: center;
  color: hsl(152, 63%, 15%);
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  .menuBeverages li:first-child {
    font-size: 1.5rem;
  margin-bottom: 0px;}
}

.wineBeverages, .coolBeverages, .warmBeverages, .sweetBeverages {
background-color: hsl(42, 87%, 97%);
box-shadow: 0 0 0 2px hsl(152, 63%, 15%),
              0 0 0 5px hsl(38, 96%, 69%),
              0 0 0 9px hsl(152, 63%, 15%);
border-radius: 7px;
margin: 0 10px;
margin: 10px;
}

/* LOCATION */

.locationContainer {
  padding-top: 100px;
  margin-bottom: 200px;
}

@media (max-width: 550px) {
  .locationContainer {
    margin-bottom: 0px;
  }
}

.locationHeader {
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  color: hsl(19, 87%, 24%);
  margin-bottom: 100px;
}

@media (max-width: 550px) {
  .locationHeader {
    font-size: 1.5rem;
    margin-bottom: 26px;}
}

.locationInfo {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  color: hsl(152, 63%, 15%);
  /* margin-bottom: 250px; */
  padding-bottom: 50px;
}

@media (max-width: 550px) {
  .locationInfo {
    grid-template-columns: 1fr;
  }
}

.placeholderMap {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: 3px solid hsl(152, 63%, 15%);
  border-radius: 7px;
  /* box-shadow: 0 0 0 2px hsl(152, 63%, 15%),
                0 0 0 5px hsl(38, 96%, 69%),
                0 0 0 9px hsl(152, 63%, 15%); */

}

@media (max-width: 550px) {
  .placeholderMap {
    width: 250px;
    height: 250px;
  }

  .mapContainer {
    margin: auto;
  }
}

.addressHoursPhone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Acme', sans-serif;
  font-size: 1.5rem;
  word-spacing: 2px;
  text-align: center;
  padding: 0 6rem;


}

@media (max-width: 550px) {
  .addressHoursPhone {
    padding: 1rem;
    font-size: 1rem;
  }
}

.address {
  margin-bottom: 50px;
}

.hours {
  margin-bottom: 50px;
}

@media (max-width: 550px) {
  .address, .hours {
    margin-bottom: 26px;
  }
}

/* MAKE RESERVATION */

.resContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 25%;
  padding-bottom: 1rem;
  background-color: hsl(42, 87%, 97%);
  box-shadow: 0 0 0 2px hsl(152, 63%, 15%),
                0 0 0 5px hsl(38, 96%, 69%),
                0 0 0 9px hsl(152, 63%, 15%);
                border-radius: 7px;
}

@media (max-width: 550px) {
  .resContainer {
    margin-top: 16px;
    margin: 16px 15%;
    grid-template-columns: 1fr;
    padding-top: 1rem;
    padding-bottom: 0;
  }
}

.resForm {
  margin-bottom: 200px;
}

@media (max-width: 550px) {
  .resForm {
    margin-bottom: 300px;
  }
}

.formHeader {
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: hsl(19, 87%, 24%);
  margin-bottom: 75px;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (max-width: 550px) {
  .formHeader {
    font-size: 1.5rem;
    margin-bottom: 26px;
    margin-top: 116px;
  }
}

.resItem {
margin: 0 auto;
padding-bottom: 1rem;
}

.resItem:first-child, .resItem:nth-child(2) {
  padding-top: 1.5rem;
}

@media (max-width: 550px) {
  .resItem {
    margin: 0;
  }

  .resItem:first-child, .resItem:nth-child(2) {
    padding-top: 0rem;
  }

  .resItem:last-child {
    margin: 0 auto;
  }
}

input:focus, select:focus {
  outline-color: hsl(19, 87%, 24%);
}

@media (max-width: 550px) {
  input, select {
    transform: translateY(-0.5rem);
    z-index: 1;
  }
}

.formLabel {
  display: inline-block;
  width: 60px;
  padding: 10px 0;
  font-family: 'Acme', sans-serif;
  font-size: 1.25rem;
  color: hsl(152, 63%, 15%);
}

@media (max-width: 550px) {
  .formLabel {
    padding: 0 3.8rem 0 0.5rem;
    margin-right: 0.5rem;
  }
}

button {
  all: unset;
  background-color: hsl(152, 63%, 15%);
  color: hsl(42, 87%, 93%);
  font-family: 'Acme', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 2px;
  padding: .5rem .75rem;
  border-radius: 30px;
  border: 3px solid hsl(19, 87%, 24%);
}

button:hover {
  color: hsl(38, 96%, 69%);
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 550px) {

  * {
    overflow-x: hidden;
  }

  /* Nav Bar */

  .navbar {
    flex-direction: column;
    z-index: 2;
  }

  .navbar-title li a {
    font-size: 2.3rem;
    padding-left: 0;
    }

  .navbar-title li {
    list-style: none;
    padding-top: .5rem;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbar-links li a {
    font-size: 0.8rem;
    margin-right: 0rem;
    padding: 0.5rem 1rem;
  }

  /* Menu */

  .choosePastaSection, .chooseMixInsSection, .chooseSauceSection {
    grid-template-columns: 1fr 1fr;
  }

  .menuBeverages {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
  }
}
